@import url("https://fonts.googleapis.com/css?family=Nunito Sans:200,400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:700i,800i,600i&display=block&text=uwnobeta()");
:root {    
    --primary: #fe71dc;
    --main-background: #000;
    --secondary-background: var(--main-background);
    --tertiary-background: #242424;
    --main-text: #fff;
    --secondary-text: #999;
    --tertiary-text: #999;
    --link-text: #aaa;
}
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

body {
    font-family: "Nunito Sans", sans-serif;
    background: var(--main-background);
    color: var(--main-text);
    margin: 0;
    padding: 0;
    height: calc(100vh - 65px);
    user-select: none;
}

h1 {
    font-size: 18pt;
}

h2 {
    font-size: 14pt;
}

a {
    text-decoration: none;
    color: var(--secondary-text);
}

main {
    height: 100%;
}

.logo {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: var(--primary);
}

.logo::before {
    content: 'uwuno';
}

.logo::after {
    margin-left: 4px;
    content: '(beta)';
    font-size: 0.5em;
}

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--main-background);
    transition: opacity 150ms;
    z-index: 10;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#splash-screen .logo {
    font-size: 32pt;
}

#navbar-top {
    width: 100%;
    margin: auto;
    padding: 20px 8px;
    position: fixed;
    display: flex;
    top: 0;
    justify-content: center;
    background: var(--main-background);
}

#navbar-content {
    width: 100%;
    max-width: 960px;
    display: flex;
    justify-content: space-between;
}

#navbar-left,#navbar-right {
    display: flex;
    align-items: center;
}

#navbar-right {
    float: right;
}

#navbar-top::after {
    content: '';
    display: block;
    height: 1px;
    background: #444;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 45px;
}

#menu {
    width: 100%;
    height: calc(100% - 65px);
    overflow: hidden;
    transition: opacity 500ms;
}

#menu > article {
    width: 100%;
    max-width: 960px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.flex-wrapper {
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#menu > article > #flex-wrapper > h1, .half-width > h1 {
    display: block;
    width: 100%;
    text-align: center;
}

#notification-center {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50%;
    max-width: 500px;
    padding: 25px;
    pointer-events: none;
}

#notification-center .notification {
    background: var(--main-background);
    border: 1px solid var(--primary);
    padding: 20px;
    border-radius: 25px;
    transition: all 150ms ease-in;
    margin: 20px 0;
    cursor: pointer;
    pointer-events: all;
}

#notification-center .notification i {
    margin-right: 8px;
}

.party-code {
    letter-spacing: 4px;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 8px 4px;
    border: 1px solid var(--primary);
    border-radius: 25px;
    margin-top: 4px;
    cursor: pointer;
    user-select: all;
}

.half-width {
    width: calc(50% - 20px);
    border: 1px solid var(--primary);
    margin: 20px;
    border-radius: 25px;
    padding: 25px;
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.half-width.left {
    margin-left: 0;
}

.half-width.right {
    margin-right: 0;
}

.half-width.game-selector {
    cursor: pointer;
    transition: all 150ms;
}

.half-width.game-selector:hover {
    transform: scale(1.05);
}

.half-width-inner i {
    display: block;
    font-size: 50px;
    margin-right: 20px;
}

.half-width-inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#option-list,.player-list {
    list-style: none;
    padding-left: 0;
    width: 100%;
}

#option-list > li {
    position: relative;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}

#option-list > li > input {
    width: 60%;
}

#option-list > li > p {
    width: 40%;
}

#party-join-code {
    width: 100%;
}

#party-join-button {
    width: 50%;
    text-align: center;
    margin: 8px;
}

input[type="textbox"], .button {
    padding: 10px 20px;
    background: var(--main-background);
    border: 1px solid var(--primary);
    border-radius: 25px;
    color: var(--main-text);
    font-size: 12pt;
    font-family: "Nunito Sans", sans-serif;
}

.button {
    cursor: pointer;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


@media screen and (max-width: 960px) {
    .half-width {
        width: 100%;
        height: calc(50% - 100px);
        margin: 20px !important;
        margin-top: 0;
        margin-bottom: 0;
    }

    main {
        margin-top: 65px;
        padding-top: 10px;
    }

    #navbar-top {
        padding-left: 0;
        padding-right: 0;
    }

    #navbar-top::after {
        left: 5%;
        right: 5%;
    }

    #navbar-content {
        padding: 0 6%;
    }

    h1 {
        font-size: 14pt;
    }
    
    h2 {
        font-size: 12pt;
    }

    .half-width-inner i {
        display: block;
        font-size: 25px;
        margin-right: 12px;
    }

    #notification-center {
        width: 100%;
        padding: 5%;
        top: 0;
        bottom: unset;
        height: auto;
        padding-top: 65px;
    }
}